 <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary btn-lg btn-sm btn-xs" id="btnn" (click)="OpenModal()">
      Add Fees Mode
  </button>
  <hr/>
  <!-- Modal -->
  <form [formGroup]="feeform" (submit)="SubmitData(feeform.value)">
  <div class="modal" id="exampleModal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
      <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Fees Mode  </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
          </div>
          <div class="modal-body">
              <div class="form-group">
                  <label>Fees Mode ID</label>
                  <input type="text" formControlName="fees_mode_id" class="form-control" disabled>
              </div>
              <div class="form-group">
                  <label>Fees Mode</label>
                  <span *ngIf="feeform.get('fee_mode').errors && feeform.get('fee_mode').dirty">
                    <span *ngIf="feeform.get('fee_mode').errors.required" style="color:red;"> please enter state name</span>
                    <span *ngIf="feeform.get('fee_mode').errors.pattern" style="color:red;"> only characters are allowed</span>
                </span>
                  <input type="text" formControlName="fee_mode" class="form-control" >
              </div>
                  
          </div>
          <div class="modal-footer">
          <button type="submit" class="btn btn-primary" [disabled]="!feeform.valid">Save</button>
          <button type="button" class="btn btn-danger" (click)="CloseModal()">Close</button>
          
          </div>
      </div>
      </div>
  </div>
  </form>
  
  <!--filter-->
  <div class="row">
      <div class="col-md-3">
      <label>Filter Data</label><br>
      <input type="text" placeholder="Filter data by name" class="form-control"/>
      </div>
  </div>
  <br><br>
  <!--table-->
  <section class="table" style="background-color: white;">
      <table class="table table-hover table-bordered" >
          <thead>
            <tr>
              <th scope="col">Fees Mode</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let s of fee">
              <td>{{s.fee_mode}}</td>
              <td class="social-media">
                <a  (click)="View(s)"><i class="fa fa-pencil-square-o social-icon " ></i></a>
                <a  (click)="Delete(s)"><i class="fa fa-trash  social-iconn" ></i></a>  
              </td>
          </tr>
          </tbody>
        </table>            
      </section>
