<button type="button" class="btn btn-primary btn-lg btn-sm btn-xs" id="btnn" (click)="OpenModal()">
    Add Course
</button>
<hr/>
<!-- Modal -->
<form [formGroup]="coursesform" (submit)="SubmitData(coursesform.value)">
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"> -->
  <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
  <div class="modal-dialog " role="document">
    <div class="modal-content">
        <div class="modal-header"> 
        <h5 class="modal-title" id="exampleModalLabel">Course</h5>
        <button type="button" class="close" (click)="CloseModal()">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body ">
            <div class="container">
            <div class="form-row">
                <div class="form-group col-md-12">
                  <label>Course ID</label>
                  <input type="text" formControlName="course_id" class="form-control" disabled>
                </div>
                <div class="form-group col-md-12">
                  <label >Course Name</label>
                  <span *ngIf="coursesform.get('course_name').errors && coursesform.get('course_name').dirty">
                    <span *ngIf="coursesform.get('course_name').errors.required" style="color:red;"> please enter state name</span>
                    <span *ngIf="coursesform.get('course_name').errors.pattern" style="color:red;"> only characters are allowed</span>
                  </span>
                  <input type="text" formControlName="course_name" class="form-control" >
                </div>
              </div>
            </div>
        </div>
        <div class="modal-footer">
        <button type="submit" class="btn btn-primary" [disabled]="!coursesform.valid">Save</button>
        <button type="button" class="btn btn-danger" (click)="CloseModal()">Close</button>

        </div>
    </div>
    </div> 
</div>
</form>
<!--filter-->
<div class="row">
    <div class="col-md-3">
    <label>Filter Data</label><br>
    <input type="text" placeholder="Filter data by name" class="form-control"/>
    </div>
</div>
<br><br>
<!--table-->
<section class="table" style="background-color: white; overflow-y: auto; ">
    <table class="table  table-hover table-bordered" >
        <thead>
          <tr>
            <th scope="col">Course Name</th>
            <th scope="col">Action</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of courses">
              <td>{{c.course_name}}</td>
              <td class="social-media">
                <a (click)="View(c)"><i class="fa fa-pencil-square-o social-icon " ></i></a>
                <a (click)="Delete(c)"><i class="fa fa-trash  social-iconn   " ></i></a>
              </td>
             
          </tr>
        </tbody>
      </table>            
    </section>