<form [formGroup]="groupform" (submit)="AddGroup(groupform.value)">
<!-- Modal -->
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"> -->
    <div class="modal " tabindex="-1" role="dialog" [ngStyle]="{'display':displaygroup}">
    
    <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Group</h5>
        <button type="button" class="close" (click)="CloseGroupModal()">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body ">
            <div class="container">
            <div class="form-row"> 
                <div class="form-group col-md-3">
                  <label>Group ID</label>
                  <input type="text" formControlName="group_id" class="form-control" disabled>
                </div>
                <div class="form-group col-md-9">
                  <label >Group Name</label>
                  <span *ngIf="groupform.get('group_name').errors && groupform.get('group_name').dirty">
                    <span *ngIf="groupform.get('group_name').errors.required" style="color:red;"> please enter Group name</span>
                    <span *ngIf="groupform.get('group_name').errors.pattern" style="color:red;"> only characters are allowed</span>
                  </span>
                  <input type="text" formControlName="group_name" class="form-control" >
                </div>
            </div>  
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label >Courses</label>
                    <select class="form-control" [(ngModel)]="cid" formControlName="course_id" (change)="GetYears(cid)">
                        <option selected disabled>select Course</option>
                        <option *ngFor="let c of courses"  value="{{c.course_id}}">{{c.course_name}}</option>
                    </select>
                </div>

                
                <div class="form-group col-md-6">
                    <label >Year Of Study</label>
                    <select class="form-control" formControlName="year_id">
                        <option selected disabled>select year of study</option>
                        <option *ngFor="let y of years" value="{{y.year_id}}">{{y.year_name}}</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                
                <div class="form-group col-md-12" >
                    <label >Start Date</label>
                    <input type="date" formControlName="start_date" class="form-control" >
                  </div>
                  
                <div class="form-group col-md-12">
                    <label >End Date</label>
                    <input type="date" formControlName="end_date" class="form-control" >
                  </div>
            </div>
              
            </div>
        </div>
        <div class="modal-footer">
        <button type="submit" class="btn btn-primary" [disabled]="!groupform.valid">Save</button>
        <button type="button" class="btn btn-danger"(click)="CloseGroupModal()">Close</button>
        
        </div>
    </div>
    </div>
</div>
</form>
<!-- Modal -->
<form [formGroup]="groupmemberform" (submit)="AddGroupMembers(groupmemberform.value)">

<!-- <div class="modal fade" id="memberModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"> -->
    <div class="modal " tabindex="-1" role="dialog" [ngStyle]="{'display':displaymember}">
    
    <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Group Members</h5>
        <button type="button" class="close" (click)="CloseMemberModal()">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body ">
            <div class="container">
            <div class="form-row">
                <div class="form-group col-md-12">
                  <label>Member ID</label>
                  <input type="text" formControlName="member_id" class="form-control" disabled>
                </div>
                <div class="form-group col-md-12">
                  <label >Group Name</label>
                  <select class="form-control" formControlName="group_id">
                      <option selected disabled>Select Group Name</option>
                      <option *ngFor="let g of group"  value="{{g.group_id}}">{{g.group_name}}</option>
                  </select>
                </div>
                <div class="form-group col-md-12">
                    <label >Course Name</label>
                    <select class="form-control" formControlName="course_id" [(ngModel)]="cid" (change)="GetYears(cid)">
                        <option selected disabled>
                            Select Course Name
                        </option>
                        <option *ngFor="let c of courses" value="{{c.course_id}}">{{c.course_name}}</option>
                    </select>
                  </div> 
                  <div class="form-group col-md-12">
                    <label >Year Of Study </label>
                    <select class="form-control" formControlName="year_id" [(ngModel)]="yid" (change)="GetStudents(yid)">
                        <option selected disabled>
                            Select Year Name
                        </option>
                        <option *ngFor="let y of years" value="{{y.year_id}}">{{y.year_name}}</option>
                    </select>
                  </div> 
                  <div class="form-group">
                  <label>Student Name</label>  
                  <div class="checkbox">
                    <label *ngFor="let s of students"><br>
                        <input type="checkbox" style="width: auto;" formControlName="student_id" (change)="GetId(s.student_id)" >&nbsp;{{s.first_name}}
                    </label>
                  </div>
                  </div>
                      
              </div>
              
              </div>
              
        </div>
        <div class="modal-footer">
        <button type="submit" class="btn btn-primary" >Save</button>
        <button type="button" class="btn btn-danger" (click)="CloseMemberModal()">Close</button>
        
        </div>
    </div>
    </div>
</div>
</form>
<!-- Modal -->
<form [formGroup]="groupassignmentform" (submit)="AddGroupAssignment(groupassignmentform.value)">
<!-- <div class="modal fade" id="asgModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"> -->
    <div class="modal " tabindex="-1" role="dialog" [ngStyle]="{'display':displayassignment}">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Group Assignemnet</h5>
        <button type="button" class="close" (click)="CloseAssignmentModal()">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body ">
            <div class="container">
            <div class="form-row">
                <div class="form-group col-md-12">
                  <label>Assignment ID</label>
                  <input type="text" formControlName="assignment_id" class="form-control" disabled>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label >Group Name</label>
                    <select class="form-control" formControlName="group_id">
                        <option selected disabled>Select Group name</option>
                        <option *ngFor="let g of group" value="{{g.group_id}}">{{g.group_name}}</option>
                    </select>
                  </div>
                  
                  <div class="form-group col-md-6">
                      <label >Course Name</label>
                      <select class="form-control" [(ngModel)]="cid" formControlName="course_id" (change)="GetYears(cid)">
                          <option selected disabled>Select Course Name</option>
                          <option *ngFor="let c of courses" value="{{c.course_id}}">{{c.course_name}}</option>
                      </select>
                    </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label >Year Name</label>
                    <select class="form-control" [(ngModel)]="yid" formControlName="year_id" (change)="GetSubjects(yid)">
                        <option selected disabled>Select Year name</option>
                        <option *ngFor="let y of years" value="{{y.year_id}}">{{y.year_name}}</option>
                    </select>
                  </div> 
                  
                  <div class="form-group col-md-6">
                      <label >Subject Name</label>
                      <select class="form-control" [(ngModel)]="sid" formControlName="subject_id" (change)="GetUnits(sid)">
                          <option selected disabled>Select Subject Name</option>
                          <option *ngFor="let s of subject" value="{{s.subject_id}}">{{s.subject_name}}</option>
                      </select>
                    </div>
            </div> 
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label >Unit Name</label>
                    <select class="form-control" formControlName="unit_id">
                        <option selected disabled>Select Unit name</option>
                        <option *ngFor="let u of unit" value="{{u.unit_id}}">{{u.unit_name}}</option>
                    </select>
                  </div>
                  
            </div>
            
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label >Assignment Date</label>
                    <input type="date" formControlName="assignment_date" class="form-control" >
                </div>
                <div class="form-group col-md-6"> 
                    <label >Mail</label>
                    <span *ngIf="groupassignmentform.get('mail').errors && groupassignmentform.get('mail').dirty">
                        <span *ngIf="groupassignmentform.get('mail').errors.required" style="color:red;"> please enter mail address</span>
                        <span *ngIf="groupassignmentform.get('mail').errors.pattern" style="color:red;"> only characters are allowed</span>
                      </span>
                    <input type="text" formControlName="mail" class="form-control" >
                </div>
            </div>      
            <div class="form-row">
                
                <div class="form-group col-md-12">
                    <label >Assignment Question</label>
                    <span *ngIf="groupassignmentform.get('assignment_question').errors && groupassignmentform.get('assignment_question').dirty">
                        <span *ngIf="groupassignmentform.get('assignment_question').errors.required" style="color:red;"> please enter mail address</span>
                        <span *ngIf="groupassignmentform.get('assignment_question').errors.pattern" style="color:red;"> only characters are allowed</span>
                      </span>
                    <input type="text" formControlName="assignment_question" class="form-control" >
                </div>
                
                
                <div class="form-group col-md-12">
                    <label>Upload Document</label>
                    <input type="file" (change)="onSelectFile($event.target.files)" class="form-control" >
                    <span [ngStyle]="{'display':displaymsg}">Note-If you don't want to update the document then keep the upload document field blank</span>
                    
                </div>
            </div>
            </div>
        </div> 
        <div class="modal-footer">
        <button type="submit" class="btn btn-primary"[disabled]=!groupassignmentform.value >Save</button>
        <button type="button" class="btn btn-danger" (click)="CloseAssignmentModal()">Close</button>
        
        </div>
    </div>
    </div>
</div>
</form>


<!-- Modal -->
<form [formGroup]="groupmessageform" (submit)="AddGroupMessage(groupmessageform.value)">

<!-- <div class="modal fade" id="msgModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"> -->
    <div class="modal " tabindex="-1" role="dialog" [ngStyle]="{'display':displaymessage}">
    
    <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Group Message</h5>
        <button type="button" class="close" (click)="CloseMessageModal()">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body ">
            <div class="container">
            <div class="form-row">
                <div class="form-group col-md-12">
                  <label>Message ID</label>
                  <input type="text" class="form-control" formControlName="message_id" disabled>
                </div>
                <div class="form-group col-md-12">
                  <label >Group Name</label>
                  <select class="form-control" formControlName="group_id">
                      <option selected disabled>Select Group Name</option>
                      <option *ngFor="let g of group" value="{{g.group_id}}">{{g.group_name}}</option>
                  </select>
                </div>
                
                <div class="form-group col-md-12">
                    <label >Message Date</label>
                    <input type="date" formControlName="message_date" class="form-control" >
                  </div>
                  
                <div class="form-group col-md-12">
                    <label >Message For</label>
                    <span *ngIf="groupmessageform.get('message_for').errors && groupmessageform.get('message_for').dirty">
                        <span *ngIf="groupmessageform.get('message_for').errors.required" style="color:red;"> please enter message for</span>
                        <span *ngIf="groupmessageform.get('message_for').errors.pattern" style="color:red;"> only characters are allowed</span>
                      </span>
                    <input type="text" formControlName="message_for" class="form-control" >
                  </div>
                  <div class="form-group col-md-12">
                    <label >Message </label>
                    <span *ngIf="groupmessageform.get('message').errors && groupmessageform.get('message').dirty">
                        <span *ngIf="groupmessageform.get('message').errors.required" style="color:red;"> please enter message</span>
                        <span *ngIf="groupmessageform.get('message').errors.pattern" style="color:red;"> only characters are allowed</span>
                      </span>
                    <input type="text" formControlName="message" class="form-control" >
                  </div>

              </div>
            </div>
        </div>
        <div class="modal-footer">
        <button type="submit" class="btn btn-primary" [disabled]=!groupmessageform.valid>Save</button>
        <button type="button" class="btn btn-danger" (click)="CloseMessageModal()">Close</button>
        
        </div>
    </div>
    </div>
</div>
</form>
<!-- Nav tabs -->
<ul class="nav nav-tabs">
    <li class="nav-item ">
      <a class="nav-link "  data-toggle="tab" href="#home">Create Group</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#menu1">Group Members</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#menu2">Group Assignements</a>
    </li>
    
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu3">Group Message</a>
      </li>
  </ul>
  
  <!-- Tab panes -->
  <div class="tab-content mt-3">
    <div class="tab-pane container " id="home">
        <button type="button" class="btn btn-primary btn-lg btn-sm btn-xs" style="margin-bottom: 10px;" id="btnn" (click)="OpenGroupModal()" >
            Create Group
         </button>
        <!--table-->
        <section class="table" style="background-color: white; overflow-y: auto; ">
            <table class="table  table-hover table-bordered" >
                <thead> 
                <tr>
                    <th scope="col">Group Name</th>
                    <th scope="col">Course Name</th>
                    <th scope="col">Year of Study</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col">Action</th>

                    
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let g of group">
                    <td>{{g.group_name}}</td>
                    <td>{{g.course_name}}</td>
                    <td>{{g.year_name}}</td>
                    <td>{{g.start_date}}</td>
                    <td>{{g.end_date}}</td>
                    <td class="social-media">
                        <a (click)="ViewGroup(g)"><i class="fa fa-pencil-square-o social-icon " ></i></a>
                        <a (click)="DeleteGroup(g)"><i class="fa fa-trash  social-iconn   " ></i></a>
                    </td> 
                    
                </tr>
                </tbody>
            </table>            
            </section>
    </div>
    <div class="tab-pane container fade" id="menu1">
        <button type="button" class="btn btn-primary btn-lg btn-sm btn-xs" style="margin-bottom: 10px;" id="btnn" (click)="OpenMemberModal()" >
            Group Members
         </button>
        <!--table-->
        <section class="table" style="background-color: white; overflow-y: auto; ">
            <table class="table  table-hover table-bordered" >
                <thead>
                <tr>
                    <th scope="col">Group Name</th>
                    <th scope="col">Student Name</th>
                    <th scope="col">Action</th>

                    
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let m of groupmember">
                    <td>{{m.group_name}}</td>
                    <td>{{m.student_name}}</td>
                    <td class="social-media">
                        <a (click)="ViewMembers(m)"><i class="fa fa-pencil-square-o social-icon " ></i></a>
                        <a (click)="DeleteMembers(m)"><i class="fa fa-trash  social-iconn   " ></i></a>
                    </td>
                    
                </tr>
                </tbody>
            </table>            
            </section>
    </div>
    <div class="tab-pane container fade" id="menu2">
        <button type="button" class="btn btn-primary btn-lg btn-sm btn-xs" style="margin-bottom: 10px;" id="btnn" (click)="OpenAssignmentModal()">
            Group Assignments
         </button>
        <section class="table" style="background-color: white; overflow-y: auto; ">
            <table class="table  table-hover table-bordered" >
                <thead>
                <tr>
                    <th scope="col">Group Name</th>
                    <th scope="col">Unit Name</th>
                    <th scope="col">Assignment Date</th>
                    <th scope="col">Assignment Question</th>
                    <th scope="col">Mail</th>
                    <th scope="col">File</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let g of groupassignment">
                    <td>{{g.group_name}}</td>
                    <td>{{g.unit_name}}</td>
                    <td>{{g.assignment_date}}</td>
                    <td>{{g.assignment_question}}</td>
                    <td>{{g.mail}}</td>
                    <td>
                        <a href="{{server}}{{g.path}}/{{g.document}}" target="_blank" class="text-decoration-none">{{g.document}}
                        </a>
                    </td>
                    <td class="social-media">
                        <a (click)="ViewAssignment(g)"><i class="fa fa-pencil-square-o social-icon " ></i></a>
                        <a (click)="DeleteAssignment(g)"><i class="fa fa-trash  social-iconn   " ></i></a>
                    </td>
                    
                </tr>
                </tbody>
            </table>            
            </section>
        
    </div>
    <div class="tab-pane container fade" id="menu3">
        <button type="button" class="btn btn-primary btn-lg btn-sm btn-xs" style="margin-bottom: 10px;" id="btnn" (click)="OpenMessageModal()">
            Group Message
         </button>
        <!--table-->
        <section class="table" style="background-color: white; overflow-y: auto; ">
            <table class="table  table-hover table-bordered" >
                <thead>
                <tr>
                    <th scope="col">Group Name</th>
                    <th scope="col">Message Date</th>
                    <th scope="col">Message For</th>
                    <th scope="col">Message</th>
                    <th scope="col">Action</th>

                    
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let m of groupmessage">
                    <td>{{m.group_name}}</td>
                    <td>{{m.message_date}}</td>
                    <td>{{m.message_for}}</td>
                    <td>{{m.message}}</td>
                    <td class="social-media">
                        <a (click)="ViewMessage(m)"><i class="fa fa-pencil-square-o social-icon " ></i></a>
                        <a (click)="DeleteMessage(m)"><i class="fa fa-trash  social-iconn"></i></a>
                    </td>
                    
                </tr>
                </tbody>
            </table>            
            </section>
    </div>
  </div>