<button type="button" class="btn btn-primary btn-lg btn-sm btn-xs" id="btnn" data-toggle="modal" data-target="#exampleModal">
    Add Year of Study
</button>
<hr/>
<form [formGroup]="yearform" (submit)="AddYear(yearform.value)">
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog " role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Year of Study</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button> 
        </div>
        <div class="modal-body ">
            <div class="container">
            <div class="form-row">
                <div class="form-group col-md-6">
                  <label>Course ID</label>
                  <input type="text"  class="form-control" disabled>
                </div>
                <div class="form-group col-md-6">
                    <label>Year ID</label>
                    <input type="text" formControlName="year_id" class="form-control" disabled>
                  </div>
              </div>
              <div class="form-group">
                  <label>Course Name</label>
                  <select class="form-control" formControlName="course_id">
                      <option selected disabled >Select Course</option>
                      <option *ngFor="let c of courses" value={{c.course_id}}>{{c.course_name}}</option>
                  </select>
              </div>
              
              <div class="form-group ">
                <label>Year of Study</label>
                <select class="form-control" formControlName="year_name">
                  <option selected disabled >Select Year of study</option>
                  <option value="First Year">First Year</option>
                  <option value="Second Year">Second Year</option>
                  <option value="Third Year">Third Year</option>
                  <option value="Fourth Year">Fourth Year</option>
                </select>
              </div>

              <div class="form-group ">
                <label>Year Code</label>
                <span *ngIf="yearform.get('year_code').errors && yearform.get('year_code').touched">
                  <span *ngIf="yearform.get('year_code').errors.required" style="color:red;"> please enter year code for e.g BE(Computer) First Year=CO01</span>
                  <span *ngIf="yearform.get('year_code').errors.pattern" style="color:red;"> only characters are allowed</span>
                </span>
                <input type="text" formControlName="year_code" class="form-control" >
              </div>

            </div>
        </div>
        <div class="modal-footer">
        <button type="submit" class="btn btn-primary" [disabled]="!yearform.valid">Save</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        
        </div>
    </div>
    </div>
</div>
</form>
<!--filter-->
<div class="row">
    <div class="col-md-3">
    <label>Filter Data</label><br>
    <input type="text" placeholder="Filter data by name" class="form-control"/>
    </div>
</div>
<br><br>
<!--table-->
<section class="table" style="background-color: white; overflow-y: auto; ">
    <table class="table  table-hover table-bordered" >
        <thead>
          <tr>
            <th scope="col">Course Name</th>
            <th scope="col">Year Of Study</th>
            <th scope="col">Year Code</th>

            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let y of years">
              <td>{{y.course_name}}</td>
              <td>{{y.year_name}}</td>
              <td>{{y.year_code}}</td>

              <td class="social-media">
                <a data-toggle="modal" data-target="#exampleModal"><i class="fa fa-pencil-square-o social-icon " ></i></a>
                <i class="fa fa-trash  social-iconn   " ></i>
              </td>
          </tr>
        </tbody>
      </table>            
    </section>