<button type="button" class="btn btn-primary btn-lg btn-sm btn-xs" id="btnn" (click)="OpenModal()">
    Add Center
</button>
<hr/>
<!-- Modal -->
<form [formGroup]="branchform" (submit)="SubmitData(branchform.value)">
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"> -->
    <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">

    <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Center  </h5>
        <button type="button" class="close" (click)="CloseModal()">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body ">
            <div class="container">
            <div class="form-row">
                <div class="form-group col-md-6">
                  <label>Center ID</label>
                  <input type="text" formControlName="center_id" class="form-control" disabled>
                </div>
                <div class="form-group col-md-6">
                  <label >Center Code</label>
                  <input type="text" class="form-control" formControlName="center_code">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Center Type</label>
                    <span *ngIf="branchform.get('center_type').errors && branchform.get('center_type').dirty">
                        <span *ngIf="branchform.get('center_type').errors.required" style="color:red;"> please enter center name</span>
                        <span *ngIf="branchform.get('center_type').errors.pattern" style="color:red;"> only characters are allowed</span>
                      </span> 
                      <input type="text" formControlName="center_type" class="form-control" >
                  </div>
                  <div class="form-group col-md-6">
                    <label>College Name</label>
                    <span *ngIf="branchform.get('college_name').errors && branchform.get('college_name').dirty">
                        <span *ngIf="branchform.get('college_name').errors.required" style="color:red;"> please enter center name</span>
                        <span *ngIf="branchform.get('college_name').errors.pattern" style="color:red;"> only characters are allowed</span>
                      </span> 
                      <input type="text" formControlName="college_name" class="form-control" >
                  </div>
              </div>
              <div class="form-group ">

                    <label >GST Number</label>
                    <span *ngIf="branchform.get('gst_number').errors && branchform.get('gst_number').dirty">
                        <span *ngIf="branchform.get('gst_number').errors.required" style="color:red;"> please enter center name</span>
                        <span *ngIf="branchform.get('gst_number').errors.pattern" style="color:red;"> only characters are allowed</span>
                      </span> 
                      <input type="text" formControlName="gst_number" class="form-control" >
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Center Address</label>
                    <span *ngIf="branchform.get('address').errors && branchform.get('address').dirty">
                        <span *ngIf="branchform.get('address').errors.required" style="color:red;"> please enter center name</span>
                        <span *ngIf="branchform.get('address').errors.pattern" style="color:red;"> only characters are allowed</span>
                      </span> 
                      <input type="text" formControlName="address" class="form-control" >
                  </div>
                  <div class="form-group col-md-6">
                    <label >Contact Number</label>
                    <span *ngIf="branchform.get('contact_number').errors && branchform.get('contact_number').dirty">
                        <span *ngIf="branchform.get('contact_number').errors.required" style="color:red;"> please enter center name</span>
                        <span *ngIf="branchform.get('contact_number').errors.pattern" style="color:red;"> only characters are allowed</span>
                      </span> 
                      <input type="text" formControlName="contact_number" class="form-control" >
                  </div>
              </div>
              <div class="form-group ">
                <label>Email Address</label>
                <span *ngIf="branchform.get('email_address').errors && branchform.get('email_address').dirty">
                    <span *ngIf="branchform.get('email_address').errors.required" style="color:red;"> please enter center name</span>
                    <span *ngIf="branchform.get('email_address').errors.pattern" style="color:red;"> only characters are allowed</span>
                  </span> 
                  <input type="text" formControlName="email_address" class="form-control" >
             </div>
            </div>
                
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" [disabled]="!branchform.valid">Save</button>
            <button type="button" class="btn btn-danger" (click)="CloseModal()">Close</button>
        
        </div>
    </div>
    </div>
</div>
</form>

<!--filter-->
<div class="row">
    <div class="col-md-3">
    <label>Filter Data</label><br>
    <input type="text" placeholder="Filter data by name" class="form-control"/>
    </div>
</div>
<br><br>
<section class="info" style="background-color: black;color: white;"> 
    <div class="container" *ngFor="let b of branch">
        <div class="row">
            <div class="col-md-4 mt-4 mb-4">
                <div class="row">
                    <div class="col-md-6">
                        <label class="text-center">Center code-{{b.center_code}}</label> 
                    </div>
                    <div class="col-md-6">
                        <span class="social-media">
                            <a (click)="View(b)"><i class="fa fa-pencil-square-o social-icon " ></i></a>
                            <a (click)="Delete(b)"><i class="fa fa-trash  social-iconn " ></i></a>
                         </span>
                    </div>
                </div>
                <br><br>
                <hr style="background-color: white;">
            </div>
            <div class="col-md-4 mt-4 mb-4">
                Center type-{{b.center_type}}<br>
                GST Number-{{b.gst_number}}<br>
                Contact Number-{{b.contact_number}}
            </div>
            <div class="col-md-4 mt-4 mb-4">
                College Name-{{b.college_name}}<br>
                Address-{{b.address}}
                <br>
                Email Address-{{b.email_address}} 
            </div>
        </div>
    </div>
</section>
<br><br>