<button type="button" class="btn btn-primary btn-lg btn-sm btn-xs" id="btnn" (click)="OpenModal()">
  Add Branch Owners
</button>
<hr/>
<!-- Modal -->
<form [formGroup]="ownerform" (submit)="AddOwner(ownerform.value)">
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"> -->
  <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
 
  <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
  <div class="modal-content">
      <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Owner Details  </h5>
      <button type="button" class="close" (click)="CloseModal()">
          <span aria-hidden="true">&times;</span>
      </button>
      </div>
      <div class="modal-body ">
          <div class="container">
          <div class="form-row">
              <div class="form-group col-md-4">
                <label>Owner ID</label>
                <input type="text" formControlName="owner_id" class="form-control" disabled>
              </div>
              <div class="form-group col-md-8">
                <label >Center Name</label>
                <select class="form-control" formControlName="center_id">
                    <option selected disabled>Select Center Name</option>
                    <option *ngFor="let s of center" value={{s.center_id}}>{{s.college_name}}</option>
                </select>
              </div>
              
            </div>
            <div class="form-row">
              <div class="form-group col-md-8">
                  <label>Owner Name</label>
                  <input type="text" class="form-control" formControlName="owner_name" >
                </div>
                <div class="form-group col-md-4">
                  <label >Mobile Number</label>
                  <input type="text" class="form-control"formControlName="mobile_number">
                </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                  <label>State</label>
                  <select class="form-control"  formControlName="state_id" [(ngModel)]="sid" (change)="GetCities(sid)">
                    <option selected disabled>Select State</option>
                    <option *ngFor="let s of states" value={{s.state_id}}>{{s.state_name}}</option>
      
                  </select>
                </div>
                <div class="form-group col-md-6">
                  <label >City</label>
                  <select class="form-control" formControlName="city_id">
                    <option selected disabled>Select City</option>
                    <option *ngFor="let s of cities" value={{s.city_id}}>{{s.city_name}}</option>
      
                </select>
                </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-8">
                  <label>Address</label>
                  <input type="text" class="form-control" formControlName="address" >
                </div>
                <div class="form-group col-md-4">
                  <label >Email Address</label>
                  <input type="text" class="form-control" formControlName="email_address">
                </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                  <label>Qualification</label>
                  <select class="form-control"  formControlName="qualification_id" [(ngModel)]="qid" (change)="GetSpecializations(qid)" >
                    <option selected disabled>Select Qualification</option>
                    <option *ngFor="let s of qualification" value={{s.qualification_id}}>{{s.qualification}}</option>
      
                  </select>
                </div>
                <div class="form-group col-md-6">
                  <label >Specialization</label>
                  <select class="form-control" formControlName="specialization_id">
                    <option selected disabled>Select Specialization</option>
                    <option *ngFor="let s of specialization" value={{s.specialization_id}}>{{s.specialization}}</option>
                </select>
                </div>
            </div>
            <div class="form-group ">
              <label>Upload Photo</label>
              <input type="file" (change)="onSelectFile($event.target.files)" class="form-control" >
           </div>
          </div>
              
      </div>
      <div class="modal-footer">
      <button type="submit" class="btn btn-primary" [disabled]="!ownerform.valid">Save</button>
      <button type="button" class="btn btn-danger" (click)="CloseModal()">Close</button>
      
      </div>
  </div>
  </div>
</div>
</form>
<!--filter-->
<div class="row">
  <div class="col-md-3">
  <label>Filter Data</label><br>
  <input type="text" placeholder="Filter data by name" class="form-control"/>
  </div>
</div>
<br><br>
<!--table-->
<section class="table" style="background-color: white; overflow-y: auto; ">
  <table class="table  table-hover table-bordered" >
      <thead>
        <tr>
          <th scope="col">Owner Name</th>
          <th scope="col">Center Name</th>
          <th scope="col">Mobile Number</th>
          <th scope="col">State</th>
          <th scope="col">City</th>
          <th scope="col">Address</th>
          <th scope="col">Email Address</th>
          <th scope="col">Qualification</th>
          <th scope="col">Specialization</th>
          <th scope="col">Photo</th>
          <th scope="col">Action</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let o of owner">
            <td>{{o.owner_name}}</td>
            <td>{{o.college_name}}</td>
            <td>{{o.mobile_number}}</td>
            <td>{{o.state_name}}</td>
            <td>{{o.city_name}}</td>
            <td>{{o.address}}</td>
            <td>{{o.email_address}}</td>
            <td>{{o.qualification}}</td>
            <td>{{o.specialization}}</td>
            <td>
              <img src="{{server}}{{o.path}}/{{o.photo}}" height="100px" width="100px" />
            </td>
            
            <td class="social-media">
              <a (click)="View(o)"><i class="fa fa-pencil-square-o social-icon " ></i></a>
              <a (click)="Delete(o)"><i class="fa fa-trash  social-iconn   " ></i></a>
            </td>
           
        </tr>
        
         
      
      </tbody>
    </table>            
  </section>
