<!-- Modal -->
<form [formGroup]="enquiryform" (submit)="SubmitEnquiryData(enquiryform.value)">
    <div class="modal " tabindex="-1" role="dialog"  [ngStyle]="{'display':displayenquiry}">
    <div class="modal-dialog modal-dialog-scrollable " role="document">
      <div class="modal-content">
          <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Profile</h5>
          <button type="button" class="close" (click)="CloseProfileModal()">
              <span aria-hidden="true">&times;</span>
          </button>
          </div>
          <div class="modal-body ">
              <div class="container">
                 <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>enquiry id</label>
                        <input type="text" formControlName="enquiry_id" class="form-control"  disabled>
                    </div>
                    <div class="form-group col-md-6">
                        <label>birth date</label>
                        
                        <input type="date" class="form-control" formControlName="birth_date" placeholder="Birth Date">
                      </div>
                 </div> 
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Candidate name</label>

                      <input type="text" formControlName="candidate_name" placeholder="Candidate name" class="form-control" >
                    </div>
                    <div class="form-group col-md-6">
                        <label>Mobile Number</label>

                        <input type="text" formControlName="mobile_number" placeholder="Mobile Number" class="form-control" >
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Address</label>

                      <input type="text" formControlName="address" class="form-control" placeholder="Local Address" >
                    </div>
                    <div class="form-group col-md-6">
                        <label>Email Address</label>

                      <input type="text" formControlName="email" placeholder="Email Address" class="form-control" >
                      </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label>Enquiry Date</label>

                    <input type="date" class="form-control" formControlName="enquiry_date" placeholder="Enquiry Date">
                  </div>
                  <div class="form-group col-md-6">
                    <label>Category</label>

                    <select class="form-control" formControlName="category_id">
                      <option selected disabled>Select Category</option>
                      <option *ngFor="let c of categories" value={{c.category_id}}>{{c.category_name}}</option>
                    </select>
                  </div>
                </div>
                <div class="form-row">
                    
                  <div class="form-group col-md-6">
                    <label>Center</label>

                    <select class="form-control" formControlName="center_id">
                      <option selected disabled>Select Center</option>
                      <option *ngFor="let c of center" value={{c.center_id}}>{{c.college_name}}</option>
                    </select>
                  </div>
                  <div class="form-group col-md-6">
                    <label>Annual Income</label>
 
                    <input type="text" formControlName="annual_income" placeholder="Annual Income" class="form-control" >
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Cet Marks</label>
                        <input type="text" formControlName="cet_marks"  class="form-control" >
                    </div>
                    <div class="form-group col-md-6">
                        <label>Pcm Marks</label>
                        <input type="text" formControlName="pcm_marks"  class="form-control" >
                    </div>
                  </div>
                  <div class="form-row">
                    <label>Sources</label>
                    <div class="form-check-inline" *ngFor="let s of sources ">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" (change)="GetSourceId(s.source_id)" value="{{s.source_id}}">{{s.source_name}}
                        </label>
                    </div>
                  </div>
                    <br>
                    <div class="form-row">
                        <label>Technology</label>
                      <div class="form-check-inline" *ngFor="let t of technology">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" (change)="GetTechnologyId(t.technology_id)" value="{{t.technology_id}}">{{t.technology_name}}
                        </label>
                      </div>
                  
                    </div>
                      
                </div>
            </div>
          </div>
          
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" [disabled]="!enquiryform.valid">Save</button>
            <button type="button" class="btn btn-danger" (click)="CloseProfileModal()">Close</button>
    
            </div>
    </div>
    </div>
    </div> 
  </form>
  <!-- Modal -->
<form [formGroup]="qualificationform" (submit)="SubmitQualificationData(qualificationform.value)">
  <div class="modal " tabindex="-1" role="dialog"  [ngStyle]="{'display':displayqualification}">
  <div class="modal-dialog modal-dialog-scrollable " role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Student Qualification Details</h5>
        <button type="button" class="close" (click)="CloseQualificationModal()">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body ">
          <div class="container">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label>Enquiry Qualification Id</label>
                <input type="text" formControlName="enquiry_qualification_id" class="form-control"  disabled>
              </div>
              <div class="form-group col-md-6">
                <label>Enquiry Id</label>
                <input type="text" formControlName="enquiry_id" class="form-control"  disabled>
              </div>
            </div>
            
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label>Qualification</label>
                  <select class="form-control" formControlName="qualification_id" [(ngModel)]="qid" (change)="GetSpecializations(qid)">
                    <option selected disabled>Select Qualification</option>
                  <option *ngFor="let q of qualifications" value="{{q.qualification_id}}">{{q.qualification}}</option>
                  </select>
                </div>
                <div class="form-group col-md-6">
                  <label>Specialization</label>
                  <select class="form-control" formControlName="specialization_id">
                    <option selected disabled>Select Specialization</option>
                    <option *ngFor="let s of specializations" value="{{s.specialization_id}}">{{s.specialization}}</option>
                  </select>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label>Medium</label>
                  <input type="text" formControlName="medium" class="form-control" placeholder="Medium">
                </div>
                <div class="form-group col-md-6">
                  <label>University</label>
                  <input type="text" formControlName="university" class="form-control" placeholder="university">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label>Passing Year</label>
                  <input type="text" formControlName="passing_year" class="form-control" placeholder="passing_year">
                </div>
                <div class="form-group col-md-6">
                  <label>Percentage</label>
                  <input type="text" formControlName="percentage" class="form-control" placeholder="percentage">
                </div>
              </div>  
          </div>   
        </div>
        <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-danger" (click)="CloseQualificationModal()">Close</button>
  
        </div>
    </div>
    </div> 
  </div>
  </form>
  
<!-- Nav tabs -->
<ul class="nav nav-tabs">
<li class="nav-item ">
  <a class="nav-link "  data-toggle="tab" href="#home">Basic Information</a>
</li>

<li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#menu1">Candidate Qualification  Details</a>
</li>
</ul>

<!-- Tab panes -->
<div class="tab-content mt-3">
<div class="tab-pane container " id="home">
    <div class="card ">
        <div class="card-header bg-dark text-white text-center">
            Enquiry Details
        </div>
    <div class="card-body">
        <div class="container">
            <table class="table table-responsive-lg table-responsive-md table-responsive-sm table-responsive-xl table-hover table-bordered" style="overflow-x: auto;background-color: white;">
                    <tr>
                        <th>Action</th>
                        <td class="social-media">
                            <a (click)="ViewEnquiry(s)"><i class="fa fa-pencil-square-o social-icon " ></i></a>
                        </td>
                    </tr>
                    <tr>
                        <th>Candidate Name</th>
                        <td>{{s.candidate_name}}</td>
                    </tr>
                    <tr>
                        <th>Enquiry Date</th>
                        <td>{{s.enquiry_date}}</td>
                    </tr>
                    <tr>
                        <th>Mobile Number</th>
                        <td>{{s.mobile_number}}</td>
                    </tr>
                    <tr>
                        <th>Email Address</th>
                        <td>{{s.email}}</td>
                    </tr>
                    <tr>
                        <th>Birth Date</th>
                        <td>{{s.birth_date}}</td>
                    </tr>
                    <tr>
                        <th>Category</th>
                        <td>{{s.category_name}}</td>
                    </tr>
                    <tr>
                        <th>Known By</th>
                        <td>{{s.lead_sources}}</td>
                    </tr>
                    <tr>
                        <th>Interested Courses</th>
                        <td>{{s.technologies}}</td>    
                    </tr>
                </table>
        </div>
    </div>
    </div>
</div>
<div class="tab-pane container fade" id="menu1">
    <div class="card ">
        <div class="card-header bg-dark text-white text-center">
           Candidate Qualification  Details
        </div>
        <div class="card-body" style="overflow-y: auto;">
            <div class="container">
              <button type="button" style="margin-bottom: 10px;" class="btn btn-primary btn-lg btn-sm btn-xs" id="btnn" (click)="OpenQualificationModal()">
                Add Qualification
              </button>
                <table class="table table-bordered" > 
                    <tr>
                    <th>Qualification</th>
                    <th>Specialization</th>
                    <th>Medium</th>
                    <th>University</th>
                    <th>Year</th>
                    <th>Percentage</th>
                    <th>Action</th>
                        
                    </tr>
                    <tr *ngFor="let q of s.qualifications">
                        <td>{{q.qualification}}</td>
                        <td>{{q.specialization}}</td>
                        <td>{{q.medium}}</td>
                        <td>{{q.university}}</td>
                        <td>{{q.passing_year}}</td> 
                        <td>{{q.percentage}}</td>
                        <td class="social-media">
                          <a (click)="ViewQualification(q)"><i class="fa fa-pencil-square-o social-icon " ></i></a>
                          <a (click)="DeleteQualification(q)"><i class="fa fa-trash  social-iconn   " ></i></a>
                            
                        </td>
                    </tr>
                    
                </table>
                <br>
                     <table class="table table-bordered" > 
                        <tr>
                        <th>CET/JEE Score</th>
                        <th>12th PCM Marks</th>
                        </tr>
                        <tr>
                            <td>{{s.cet_marks}}</td>
                            <td>{{s.pcm_marks}}</td>
                            
                        </tr>
                        
                    </table>
                
            </div>
        </div>
    </div>
</div>
</div>    

