<h5 class="text-center">Enquiry Form</h5>
            <hr>
            <section class="enquiry_form">
                <!--candidate basic info-->
                <div class="card ">
                    <div class="card-header bg-dark text-white text-center">
                        Candidate Basic Information
                    </div>
                    <div class="card-body"> 
                        <div class="container">
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                  <input type="date" class="form-control" [(ngModel)]="birth_date" placeholder="Birth Date">
                                </div>
                                <div class="form-group col-md-6">
                                  <input type="text" [(ngModel)]="candidate_name" placeholder="Candidate name" class="form-control" >
                                </div>
                                <div class="form-group col-md-3">
                                  <input type="text" [(ngModel)]="mobile_number" placeholder="Mobile Number" class="form-control" >
                                  </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-8">
                                  <input type="text" [(ngModel)]="address" class="form-control" placeholder="Local Address" >
                                </div>
                                <div class="form-group col-md-4">
                                  <input type="text" [(ngModel)]="email" placeholder="Email Address" class="form-control" >
                                  </div>
                            </div>
                            <div class="form-row">
                              <div class="form-group col-md-4">
                                <input type="date" class="form-control" [(ngModel)]="enquiry_date" placeholder="Enquiry Date">
                            </div>
                              <div class="form-group col-md-4">
                                <select class="form-control" [(ngModel)]="category_id">
                                  <option selected disabled>Select Category</option>
                                  <option *ngFor="let c of categories" value={{c.category_id}}>{{c.category_name}}</option>
                                </select>
                              </div>
                              <div class="form-group col-md-4">
                                <input type="text" [(ngModel)]="annual_income" placeholder="Annual Income" class="form-control" >
                                </div>
                            </div>
                            <div class="form-row">
                              <div class="form-group col-md-4">
                                <select class="form-control" [(ngModel)]="center_id">
                                  <option selected disabled>Select Center</option>
                                  <option *ngFor="let c of center" value={{c.center_id}}>{{c.center_name}}</option>
                                </select>
                              </div>
                            </div>
                        </div>    
                    </div>
                </div>
                <br>
                <!--candidate education info-->
                <div class="card ">
                    <div class="card-header bg-dark text-white text-center">
                        Educational Details
                    </div>
                    <div class="card-body" style="overflow-y: auto;">
                        <div class="container">
                          <table class="table table-bordered"> 
                            <tr>
                              <td> 
                                <select class="form-control" [(ngModel)]="qualification_id" (change)="GetSpecializations(qualification_id)">
                                  <option selected disabled>Select Qualification</option>
                                <option *ngFor="let q of qualifications" value="{{q.qualification_id+'_'+q.qualification}}">{{q.qualification}}</option>
        
                              </select>
                            </td>
                              
                              <td>
                                <select class="form-control" [(ngModel)]="specialization_id" >
                                  <option selected disabled>Select Specialization</option>
                                  <option *ngFor="let s of specializations" value="{{s.specialization_id+'_'+s.specialization}}">{{s.specialization}}</option>
          
                                </select>
                              </td>
                              
                              <td>
                                
                                <input type="text" [(ngModel)]="medium" class="form-control" placeholder="Medium">
                              </td>
                              
                              <td>
                               
                                <input type="text" [(ngModel)]="university" class="form-control" placeholder="university">
        
                              </td>
                              
                              <td>
                                 
                                <input type="text" [(ngModel)]="passing_year" class="form-control" placeholder="passing_year">
        
                              </td>
                              
                              <td>
                                
                                <input type="text" [(ngModel)]="percentage" class="form-control" placeholder="percentage">
        
                              </td> 
                              
                              <td>
                                <button type="button" class="btn btn-dark" (click)="AddStudentQulification(qualification_id,specialization_id,medium,university,passing_year,percentage)">
                                  <i class="fa fa-plus"></i>
                                </button>
                                
                              </td>
                            </tr>
                          </table>
                            <table class="table table-bordered" > 
                                <th>Qualification</th>
                                <th>Specialization</th>
                                <th>Medium</th>
                                <th>University</th>
                                <th>Year</th>
                                <th>Percentage</th>
                                <tbody>
                                  <tr *ngFor="let q of studentqualifications">
                                      <td>{{q.qualification}}</td>
                                      <td>{{q.specialization}}</td>
                                      <td>{{q.medium}}</td>
                                      <td>{{q.university}}</td>
                                      <td>{{q.passing_year}}</td>
                                      <td>{{q.percentage}}</td>
                                      
                                      
                                     
                                  </tr>
                                  
                                </tbody>
                            </table>

                        </div>    
                    </div>
                </div>
                <br>
                <!--Candidate Exam Score-->
                <div class="card ">
                    <div class="card-header bg-dark text-white text-center">
                        Candidate Exam Scores
                    </div>
                    <div class="card-body">
                        <div class="container">
                          <div class="form-row">
                            <div class="form-group col-md-6">
                              <input type="text" [(ngModel)]="cet_marks" placeholder="CET/JEE Marks" class="form-control" >
                            </div>
                            <div class="form-group col-md-6">
                              <input type="text" [(ngModel)]="pcm_marks" placeholder="PCM Marks" class="form-control" >
                              </div>
                          </div>
                        </div>    
                    </div>
                </div>
                <br>
                <!--know about us-->
                <div class="card ">
                    <div class="card-header bg-dark text-white text-center">
                        How did you know about us?
                    </div>
                    <div class="card-body">
                        <div class="container">
                            <div class="form-check-inline pl-5" *ngFor="let s of sources ">
                                <label class="form-check-label">
                                  <input type="checkbox" class="form-check-input" (change)="GetSourceId(s.source_id)" value="{{s.source_id}}">{{s.source_name}}
                                </label>
                              </div>
                        </div>    
                    </div>
                </div>

                <br>
                <!--interested-->
                <div class="card ">
                    <div class="card-header bg-dark text-white text-center">
                        Tick your Interested Course
                    </div>
                    <div class="card-body">
                        <div class="container">
                            <div class="row">
                                <div class="form-check col-md-4" *ngFor="let t of technology">
                                    <label class="form-check-label">
                                      <input type="checkbox" class="form-check-input" (change)="GetTechnologyId(t.technology_id)" value="{{t.technology_id}}">{{t.technology_name}}
                                    </label>
                                  </div>
                            </div>
                            
                              
                        </div>    
                    </div>
                </div>
                <br>
                <div class="form-group">
                  <input type="button" value="Save" class="btn btn-primary btn-lg btn-sm btn-xs" (click)="CreateEnquiry(candidate_name	,email	,mobile_number	,birth_date	,address,enquiry_date	,category_id,annual_income,center_id,cet_marks,pcm_marks)">
                </div>
            </section> 